@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.6%;
    --foreground: 0 0% 0.8%;
    --card: 0 0% 99.6%;
    --card-foreground: 0 0% 0.8%;
    --popover: 0 0% 99.6%;
    --popover-foreground: 0 0% 0.8%;
    --primary: 213 100% 34%;
    --primary-foreground: 0 0% 99.6%;
    --secondary: 201 57% 62%;
    --secondary-foreground: 0 0% 0.8%;
    --muted: 174 19% 65%;
    --muted-foreground: 60 1% 28%;
    --accent: 343 84% 80%;
    --accent-foreground: 0 0% 0.8%;
    --destructive: 343 84% 80%;
    --destructive-foreground: 0 0% 0.8%;
    --border: 204 11% 49%;
    --input: 18 71% 79%;
    --ring: 213 100% 34%;
    --radius: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 0.8%;
    --foreground: 0 0% 99.6%;
    --card: 60 1% 28%;
    --card-foreground: 0 0% 99.6%;
    --popover: 60 1% 28%;
    --popover-foreground: 0 0% 99.6%;
    --primary: 213 100% 34%;
    --primary-foreground: 0 0% 99.6%;
    --secondary: 201 57% 62%;
    --secondary-foreground: 0 0% 99.6%;
    --muted: 204 11% 49%;
    --muted-foreground: 174 19% 65%;
    --accent: 343 84% 80%;
    --accent-foreground: 0 0% 99.6%;
    --destructive: 343 84% 80%;
    --destructive-foreground: 0 0% 99.6%;
    --border: 204 11% 49%;
    --input: 60 1% 28%;
    --ring: 213 100% 34%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
}
